@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
* {
    font-family: 'Varela Round', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#page-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#map-part {
    width: 100%;
    overflow: hidden;
    position: relative;
}

#list-part {
    width: 25%;
    background-color: #FFF;
    overflow-y: auto;
    height: 100%;
    padding: 20px 20px 0 20px;
    box-shadow: 0 0 10px #C0C0C0;
    display: none;
    position: relative;
}

.single-place {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #C0C0C0;
    margin-bottom: 20px;
    padding-bottom: 10px;
    cursor: pointer;
}

.photo-part {
    width: 30%;
    max-height: 100px;
    overflow: hidden;
}

.photo-part img {
    display: block;
    margin: 0;
    max-width: 100%;
}

.place-detail-part {
    width: calc(70% - 20px);
    text-align: left;
}

.place-detail-part h4 {
    margin: 0 0 5px 0;
    color: #DE6454;
}

#map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}

#actions-holder {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, .9);
    z-index: 2000;
}

#restaurant-detail-container {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, .9);
    z-index: 2000;
    overflow-y: auto;
}

#restaurant-detail-wrapper {
    max-width: 600px;
    background-color: #F0F0F0;
    overflow-y: auto;
    min-width: 200px;
    padding: 30px;
    text-align: left;
}

.restaurant-image img {
    width: 100%;
    margin: 20px 0;
    display: block;
}

#geolocalisation-loader {
    background-color: transparent;
    display: none;
}

#geolocalisation-loader::after {
    border: 4px solid #DE6454;
    border-right: 2px solid transparent;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    content: "";
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#geolocalisation-request {
    color: #0071C6;
}

#geolocalisation-refused {
    color: #DE6454;
    display: none;
}

.alert-displayer {
    display: block;
    max-width: 500px;
    padding: 20px;
    background-color: #F0F0F0;
    font-size: 15px;
    margin: 0 auto;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.link-wrapper {
    margin-top: 10px;
}

.link-wrapper a {
    color: #0071C6;
    text-decoration: none;
}

.place-ranking {
    color: #A3A3A3;
    font-size: 12px;
    margin: 5px 0;
    display: inline-block;
}

.place-ranking span {
    color: #0071C6;
    font-weight: bold;
}

.place-ranking span::after {
    content: " étoiles";
}

.place-address {
    color: #666;
    font-size: 13px;
}

.nb-rankings {
    color: #F0F0F0;
    padding: 3px 5px;
    display: inline-block;
    font-size: 11px;
    background-color: #666;
    text-decoration: none;
    margin-bottom: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.add-ranking {
    margin-bottom: 5px;
    color: #0071C6;
    text-decoration: none;
    font-size: 12px;
    display: block;
}

.add-ranking:hover {
    text-decoration: underline;
}

#maptype-selector {
    z-index: 3500;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.maptype-selector {
    display: block;
    margin-bottom: 10px;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
    background-color: #FAFAFA;
}

.maptype-selector:first-child {
    color: #0071C6;
}

.maptype-selector:last-child {
    color: #DE6454;
}

#server-selected {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: #0071C6;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-weight: Bold;
    color: #FFF;
    z-index: 2000;
}

#restaurants-list {
    padding: 70px 15px 30px 15px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 200;
}

#add-ranking-form label {
    display: block;
    margin-bottom: 10px;
}

.radio-single-wrapper {
    display: inline-block;
    margin: 0 10px;
    text-align: center;
}

#ranking-text {
    display: block;
    width: 100%;
    height: 100px;
    resize: none;
    outline: none;
    border: 1px solid #C0C0C0;
    color: #333;
    line-height: 20px;
    font-size: 13px;
    margin-top: 20px;
    padding: 20px;
}

.submit-btn {
    display: block;
    width: 100%;
    border: none;
    padding: 0 15px;
    background-color: #DE6454;
    color: #FFF;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    line-height: 40px;
    outline: none;
    cursor: pointer;
}

#add-ranking-form-wrapper {
    padding: 20px;
    background-color: #FAFAFA;
    margin-top: 20px;
}

.close-btn-wrapper {
    display: block;
    position: fixed;
    top: 30px;
    right: 50px;
    font-size: 30px;
    color: #DE6454;
    text-align: right;
}

.close-btn {
    display: inline-block;
    cursor: pointer;
}

.comment-user-line {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #C0C0C0;
}

.rating-line {
    font-size: 12px;
    color: #DE6454;
    line-height: 20px;
    margin-top: 10px;
    font-weight: bold;
}

.comment-line {
    font-size: 14px;
    color: #555;
    line-height: 20px;
    margin-top: 10px;
}

.restaurant-name,
.add-restaurant-header {
    font-size: 1.3em;
    color: #DE6454;
    margin-bottom: 10px;
}

.add-restaurant-header {
    text-align: center;
}

.restaurant-address {
    font-size: 15px;
    color: #666;
    margin-bottom: 5px;
}

.restaurant-ranking {
    font-size: 15px;
    color: #0071C6;
    margin-bottom: 5px;
}

.restaurant-ranking-nb {
    font-size: 15px;
    color: #DE6454;
    margin-bottom: 5px;
    font-weight: bold;
}

.comment-header {
    font-size: 15px;
    color: #333;
    margin-bottom: 5px;
    border-bottom: 1px solid #C0C0C0;
    padding-bottom: 5px;
}

.input-shape {
    display: block;
    width: 100%;
    border: 1px solid #C0C0C0;
    line-height: 35px;
    color: #333;
    font-size: 12px;
    outline: none;
    padding: 0 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.input-wrapper {
    margin-bottom: 20px;
}

#restaurant-add-form {
    padding: 20px;
    background-color: #FAFAFA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin: 100px auto 0 auto;
    max-width: 350px;
    box-shadow: 0 0 10px #AAA;
}

.input-error {
    margin-top: 5px;
    font-size: 12px;
    color: #F00;
    display: none;
}

#restaurant-add-form-wrapper {
    background-color: rgba(0, 0, 0, .9);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3000;
    display: none;
}

.main-error {
    color: #F00;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    background-color: rgba(255, 0, 0, .5s);
    padding: 10px;
    display: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.info-header {
    color: #DE6454;
    font-size: 15px;
    max-width: 200px;
    margin: 0 0 5px 0;
}

.info-header::first-letter {
    text-transform: uppercase;
}

.address-line {
    margin: 0;
    color: #666;
    font-size: 13px;
    max-width: 200px;
}